body {
    margin: 0;
}

.header {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

.header__info {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.header__login{
    width: 30%;
}

.header__info__item {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: gray;
}

.header__info__item i {
    color: #fc9f00;
    font-size: 25px;
    margin-right: 5px;
    margin-left: 10px;
}

.header__info__item span{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__logo{
    width: 13%;
}

.menu{
    background-color: #05869b;
    height: 44px;
}

ul.menu__itens {
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 0px 0px;
}

li.menu__itens__title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #fff;
    list-style: none;
    padding: 0px 10px;
}

.menu__itens__title--login {
    text-transform: uppercase;
    font-weight: bold;
}

.menu__itens__title--active {
    background-color: rgba(255, 255, 255, 0.22);
    height: 50px;
    display: flex;
    align-items: center;
}

.menu__itens__title a {
    text-decoration: none;
    color: inherit;
}

header.main-header {
    width: 75%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding: 35px 0px
}

.main-header h2 {
    color: #333;
    margin-top: 0px;
}

.main-header span {
    color: #575757;
}

section.guide {
    background-color: #eeeeee63;
    height: 455px;
    border-bottom: 1px solid #cccccc85;
}

.guide__indication {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.guide__item {
    width: 45%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #575757;
    line-height: 20px;
}

.guide__text h3 {
    color: #333;
}

.guide__text h4 {
    color: #333;
}

.guide__description {
    width: 90%;
}

.guide__number.number {
    border-radius: 50%;
    width: 15%;
}

.guide__legend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.guide__number {
    font-weight: bold;
    font-size: 18px;
    border: 2px solid;
    border-radius: 100%;
    width: 50px;
    height: 45px;
    text-align: center;
    display: flex;
    position: relative;
    display: inline-block;
    z-index: 2;
    position: relative;
    border: 2px solid #575757;
    border-radius: 100%;
    line-height: 50px;
    text-align: center;
    z-index: 2;
    display: inline-block;
    margin-right: 10px;
}

.guide__number:before {
    position: absolute;
    border: 1px solid #575757;
    width: 0;
    height: 25px;
    display: block;
    content: '';
    left: 50%;
    z-index: 1;
    top: -35px;
    margin-left: -1px;
}

.guide__number.number--first:before {
    border: none;
}

.guide__item--box {
    margin-top: 3%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 1%;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(145,145,145,1);
    -moz-box-shadow: 0px 3px 5px -1px rgba(145,145,145,1);
    box-shadow: 0px 3px 5px -1px rgba(145,145,145,1);
}

.guide__form {
    padding: 10px 30px;
}

.guide__input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0px;
}

span.guide__text--uppercase {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2%;
}
.guide__select {
    height: 35px;
    border-radius: 5px;
    border-color: #ccc;
    padding: 8px 10px;
    color: #575757;
}

.guide__input--first {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.guide__input--second {
    display: flex;
    flex-direction: column;
    width: 38%;
}

.guide__input--twocolumns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px;
}

.button--success button {
    width: 100%;
    background-color: #0FA866;
    border: 1px solid #0FA866;
    padding: 12px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

.guide__regulamentation {
    width: 100%;
    text-align: center;
    color: #fc9f00;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

header.share {
    width: 75%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}

.guide__text p {
    border-bottom: 1px solid #ddd;
}

.share__socialmedia {
    display: flex;
    justify-content: space-between;
}

.share__item {
    width: 45%;
}

.share__media span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #575757;
}

.share__media {
    display: flex;
    justify-content: normal;
}

.share__icons i {
    padding: 10px 10px 10px 0px;
}

.share__icons {
    font-size: 25px;
    padding: 10px 0px;
    color: #575757;
}

.share_icons i.fas.fa-envelope {
    color: #E03F50;
}

.share_icons i.fab.fa-windows {
    color: #00c2ff;
}

.share__contact--first{
    width: 40%;
}

.share__submit button {
    height: 38px;
    width: 20%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
    color: #fc9f00;
    margin-left: -5px;
    font-weight: bold;
    background-color: #cccccc4d;
    z-index: 3;
    position: relative;
}

input[type="text"] {
    width: 72%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
    border-color: #ccc;
    padding: 8px 10px;
    color: #575757;
    border: 1px solid #ccc;
    z-index: -1;
}

.share__submit {
    padding: 10px 0px;
}

.share__input {
    padding-bottom: 15px;
}

.share__input span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #575757;
}

.share__input p {
    font-family: 'Roboto', sans-serif;
    color: #575757;
    font-size: 12px;
    font-style: italic;
    margin-top: -5px;
}

.guide__regulamentation a {
    text-decoration: none;
    color: inherit;
}

section.contacts {
    background-color: #18ACC4;
}

.contacts__block {
    width: 75%;
    margin: 0 auto;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.contact__info {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.contact__info i {
    font-size: 8px;
    color: red;
}

.contact__info h2 {
    text-decoration: underline;
    margin-top: 0px;
    letter-spacing: 0.6px;
}

svg.contacts__icon {
    fill: #05869b;
}

.contact__icon {
    width: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.contacts__item {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

i.fas.fa-circle.contact__info--available{
    font-size: 8px;
    color: #62f07f;
}

h2.contact__info--nounderline {
    text-decoration: none;
}

section.footer-info {
    background-color: #05869B;
}

.footer-info__links {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.09);
}

.footer-info__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff
}

span.footer-info__title {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-info__item a {
    text-decoration: none;
    color: inherit;
    padding: 5px 0px;
}

.highlights {
    border-top: 1px solid #18ACC4;
}

.highlights__seals {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    font-size: 14px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.highlights__imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.highlights__imgs--ajusted-by-yourself {
    justify-content: flex-start !important;
}

.highlights__item {
    width: 22%;
}

img.highlights__imgs--globo, img.highlights__imgs--folha, img.highlights__imgs--veja {
    height: 25px;
    margin-right: 10px;
}

img.highlights__imgs--youtube, img.highlights__imgs--facebook, img.highlights__imgs--instagram {
    height: 36px;
}

img.highlights__imgs--selo {
    height: 50px;
}

section.last-footer {
    background-color: #006f89;
    height: 50px;
    color: #7fcedb;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 0.7px;
}

.last-footer__item {
    width: 75%;
    margin: 0 auto;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-footer__info {
    display: flex;
    flex-direction: column;
}

img.highlights__imgs--safe {
    height: 20px;
}

li.menu__itens__title:hover {
    background-color: rgba(255, 255, 255, 0.22);
    height: 50px;
    display: flex;
    align-items: center;
}

span.highlights__item--legend {
    margin-left: 10px;
}

.header__info__item a {
    text-decoration: none;
    color: inherit;
}

.last-footer__img svg {
    height: 20px;
    width: 32px;
}

.menu__itens__icon li{
    display: none;
}

@media(max-width: 998px){
    .header__info__item {
        font-size: 13px;
    }

    section.guide {
        height: 490px;
    }

    svg.contacts__icon {
        width: 100%;
    }

    svg.highlights__imgs--twitter {
        height: 20px;
        width: 20px;
    }

    img.highlights__imgs--youtube, img.highlights__imgs--facebook, img.highlights__imgs--instagram {
        height: 20px;
    }

    img.highlights__imgs--globo, img.highlights__imgs--folha, img.highlights__imgs--veja {
        height: 20px;
        margin-right: 10px;
    }
}

.menu__itens__icon{
    display: none;
}

.contacts-mobile{
    display: none;
}

@media(max-width: 768px){
    .guide__indication {
        flex-direction: column;
    }

    .guide__item {
        width: 100%;
    }

    section.guide {
        height: 100%;
    }

    .share__socialmedia {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .share__item {
        width: 100%;
    }

    .guide__text p {
        border-bottom: 1px solid #ddd;
        display: none;
    }

    .guide__text h3 {
        margin-bottom: 0px;
    }

    .share__item:nth-child(2) {
        border-top: 1px solid #ddd;
    }

    .last-footer__item {
        justify-content: center;
    }

    .menu__itens li:not(:first-child){
        display: none;
    }

    li.menu__itens__title.menu__itens__icon {
        display: block;
        float: right;
    }

    .menu__itens.responsive {
        position: relative;
        flex-direction: column;
        height: auto !important;
    }

    .menu__itens.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .menu__itens.responsive li {
      float: none;
      display: block;
      text-align: left;
    }

    .menu{
        height: auto !important;
    }

    li.menu__itens__title:hover {
        background-color: #05869b;
        height: auto;
        display: initial;
        align-items: center;
    }


    li.menu__itens__title:last-child:hover {
        background-color:#05869b;
        height: auto !important;
        display: initial;
        align-items: center;
    }

    .menu__itens.responsive li {
        float: none;
        display: block;
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid #7fcedb;
        width: 100%;
        font-size: 14px;
    }

    .menu__itens__title--active {
        background-color: #05869b;
        height: auto;
        display: flex;
        align-items: center;
    }

    li.menu__itens__title.menu__itens__icon:last-child {
        border: none;
    }

    .header__info__item{
        display: none;
    }

    .header__info__mobile a {
        text-decoration: none;
        color: inherit;
    }

    .header__info .header__info__mobile{
        display: block !important;
        font-family: 'Roboto', sans-serif;
        color: #575757;
        padding: 20px 10px 20px 0px;
        border-right: 1px solid #ccc;
    }
  
    .header__login .header__info__mobile{
        display: block !important;
        font-family: 'Roboto', sans-serif;
        color: #575757;
        float: right;
        padding: 20px 0px 20px 10px;
        border-left: 1px solid #ccc;
    }

    .header__login .header__info__mobile i {
        color: #fc9f00;
        font-size: 16px;
    }

    .header__info .header__info__mobile i {
        color: #fc9f00;
        font-size: 16px;
    }

    .header__logo {
        width: 20%;
    }
    
    .header {
        padding: 0px 0px;
    } 
    
    .contacts {
        display: none;
    }

    .contacts-mobile{
        display: block;
        background-color: #18ACC4;
    }

    .contact__icon {
        margin-right: 0px;
    }

    .contacts__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .contacts__item.contact__item--first {
        flex-direction: row;
    }

    .contacts__item.contact__item--first .contact__icon {
        margin-right: 20px;
    }

    .contact__info {
        flex-direction: column;
        align-items: center;
    }

    .contact__info i {
        margin-right: 5px;
    }

    .footer-info-mobile {
        display: block !important;
        background-color: #05869B;
    }

    .footer-info__links {
        box-shadow: none;
    }

    .footer-info {
        display: none !important;
    }

    .footer-info__item {
        text-align: center;
    }

    span.footer-info__title {
        margin-bottom: 0px;
    }

    .last-footer-mobile{
        display: block !important;
    }

    .last-footer{
        display: none !important;
    }

    section.last-footer-mobile {
        background-color: #006f89;
    }

    .last-footer__item {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #fff;
    }

    img.highlights__imgs--youtube, img.highlights__imgs--facebook, img.highlights__imgs--instagram {
        height: 35px;
    }

    .last-footer__item > div {
        padding: 15px 0px;
    }

    .last-footer__item {
        padding: 15px 0px;
    }

    .last-footer-mobile-img {
        width: 35%;
        display: flex;
        justify-content: space-evenly;
    }

    .contacts__block {
        align-items: normal;
    }

    .contact__info h2 {
        text-decoration: none;
        margin-top: 0px;
        letter-spacing: 0.6px;
    }
  }

  .last-footer-mobile{
    display: none;;
    }

    .last-footer{
        display: block;
    }
 
  .footer-info-mobile {
    display: none;
    }

    .footer-info {
    display: block;
    }

  .header__info .header__info__mobile{
      display: none;
  }

  .header__login .header__info__mobile{
      display: none;
  }
